* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: sans-serif;
}

/* Header */
.top {
    display: flex;
    justify-content: center;
    padding: 30px 40px;
    background-color: #060c10;
}

.top h1{
    font-weight: 800;
    font-size: 35px;
    letter-spacing: 6px;
}

.back {
    text-decoration: none;
    color: #fff;
}

/* Gallery grid */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 400px));
    gap: clamp(20px, 4vw, 80px);
    padding: 40px;
    justify-content: center;
    margin: 0 auto; /* self added */
    background-color: #0a131a;
}

.gallery img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    transform: scale(1);
    object-fit: cover;
    cursor: pointer;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    filter: brightness(0.8);
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.lightbox-img {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
